.Subscribe {
  padding: 3rem 0 0;
}

.Subscribe h2 {
  text-align: center;
  font-size: 2.875rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}

.Subscribe .Text {
  padding: 3rem 0;
  text-align: center;
}

.Subscribe p {
  max-width: 380px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: unset;
}

.Subscribe form {
  margin: 3rem auto 0;
  max-width: 29.625rem;
  display: flex;
}

.Subscribe button {
  color: #ffffff;
  border-radius: 0.25rem;
  font-weight: 500;
  padding: 1.5rem 2rem;
  margin-left: 1.25rem;
  background-image: url("../../media/gradient.jpg");
  background-size: 220%;
  background-position: 40% 0;
}

.Subscribe input {
  height: 70px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  line-height: 1.25;
  border: 1px solid #dee2ef;
  color: #dee2ef;
  font-size: 100%;
}

.Subscribe input::placeholder {
  color: #a8abb8;
  opacity: 1;
}

@media screen and (max-width: 639px) {
  .Subscribe {
    padding: 3rem 1.75rem;
  }

  .Subscribe .Text {
    padding: 0;
  }

  .Subscribe h2 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }

  .Subscribe p {
    font-size: 0.75rem;
  }

  .Subscribe form {
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .Subscribe button {
    margin: 1.25rem 0 0;
  }
}
