.BlogBoxes {
  font-size: 3rem;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

@media screen and (max-width: 1023px) {
  .BlogBoxes {
    margin-top: 2.5rem;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .BlogBoxes {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .BlogBoxes {
    margin-top: 1rem;
  }
}
